SQL demo in class
--------------------------------------------

### Jupyter Notebook Keyboard Shortcuts

**1) Command Mode **(hit **Escape** key to enter Command mode)

*Blue border* indicates you are in Command mode. The following commands only work in Command mode.

* hit **D** twice- **D**elete a cell
* **B** - insert a cell at the **B**elow current cell
* **A** - insert a cell **A**bove current cell
* **C** - **C**opy a cell
* **V** - Paste copied cell
* **Z** - Undo last action
* hit **Shift + Enter** - to run a cell
* Up and Down arrow keys to navigate

**2) Edit Mode **(hit **Enter** to enter edit mode)

*Green border* indicates you are in Edit mode.

### Setup

In [2]:
%load_ext sql

ImportError: No module named sql

In [22]:
%sql sqlite:///zxcc.db

u'Connected: None@zxcc.db'

### Information on the data we'll be using in class today

We have 2 tables, **CityTemps** and **Regions**

**CityTemps** (city, state, lat, lng, temp) 

**Regions** (state, region, coastal)

The following query selects all the data from the **CityTemps** table and outputs them into a table below:

In [11]:
%%sql
Select *
From CityTemps

Done.

[(u'Mobile', u'Alabama', 31.2, 88.5, 46),
 (u'Montgomery', u'Alabama', 32.9, 86.8, 40),
 (u'Phoenix', u'Arizona', 33.6, 112.5, 39),
 (u'Little Rock', u'Arkansas', 35.4, 92.8, 35),
 (u'Denver', u'Colorado', 40.7, 105.3, 19),
 (u'New Haven', u'Connecticut', 41.7, 73.4, 24),
 (u'Wilmington', u'Delaware', 40.5, 76.3, 28),
 (u'Washington', u'DC', 39.7, 77.5, 32),
 (u'Jacksonville', u'Florida', 31.0, 82.3, 47),
 (u'Key West', u'Florida', 25.0, 82.0, 67),
 (u'Miami', u'Florida', 26.3, 80.7, 60),
 (u'Atlanta', u'Georgia', 33.9, 85.0, 39),
 (u'Boise', u'Idaho', 43.7, 117.1, 26),
 (u'Chicago', u'Illinois', 42.3, 88.0, 23),
 (u'Indianapolis', u'Indiana', 39.8, 86.9, 25),
 (u'Des Moines', u'Iowa', 41.8, 93.6, 15),
 (u'Wichita', u'Kansas', 38.1, 97.6, 26),
 (u'Louisville', u'Kentucky', 39.0, 86.5, 31),
 (u'New Orleans', u'Louisiana', 30.8, 90.2, 47),
 (u'Portland', u'Maine', 44.2, 70.5, 14),
 (u'Baltimore', u'Maryland', 39.7, 77.3, 27),
 (u'Boston', u'Massachusetts', 42.7, 71.4, 25),
 (u'Detroit', u'Michigan', 43.1, 83.9, 25),
 (u'Minneapolis', u'Minnesota', 45.9, 93.9, 6),
 (u'St. Louis', u'Missouri', 39.3, 90.5, 28),
 (u'Helena', u'Montana', 47.1, 112.4, 12),
 (u'Omaha', u'Nebraska', 41.9, 96.1, 17),
 (u'Concord', u'New Hampshire', 43.5, 71.9, 13),
 (u'Atlantic City', u'New Jersey', 39.8, 75.3, 29),
 (u'Albuquerque', u'New Mexico', 35.1, 106.7, 28),
 (u'Albany', u'New York', 42.6, 73.7, 16),
 (u'New York', u'New York', 40.8, 74.6, 29),
 (u'Charlotte', u'North Carolina', 35.9, 81.5, 36),
 (u'Raleigh', u'North Carolina', 36.4, 78.9, 33),
 (u'Bismarck', u'North Dakota', 47.1, 101.0, 4),
 (u'Cincinnati', u'Ohio', 39.2, 85.0, 30),
 (u'Cleveland', u'Ohio', 42.3, 82.5, 25),
 (u'Oklahoma City', u'Oklahoma', 35.9, 97.5, 32),
 (u'Portland', u'Oregon', 45.6, 123.2, 35),
 (u'Harrisburg', u'Pennsylvania', 40.9, 77.8, 28),
 (u'Philadelphia', u'Pennsylvania', 40.9, 75.5, 28),
 (u'Charleston', u'South Carolina', 33.3, 80.8, 40),
 (u'Nashville', u'Tennessee', 36.7, 87.6, 35),
 (u'Amarillo', u'Texas', 35.6, 101.9, 26),
 (u'Galveston', u'Texas', 29.4, 95.5, 51),
 (u'Houston', u'Texas', 30.1, 95.9, 46),
 (u'Salt Lake City', u'Utah', 41.1, 112.3, 22),
 (u'Burlington', u'Vermont', 45.0, 73.9, 11),
 (u'Norfolk', u'Virginia', 37.0, 76.6, 34),
 (u'Seattle', u'Washington', 48.1, 122.5, 35),
 (u'Spokane', u'Washington', 48.1, 117.9, 21),
 (u'Madison', u'Wisconsin', 43.4, 90.2, 13),
 (u'Milwaukee', u'Wisconsin', 43.3, 88.1, 17),
 (u'Cheyenne', u'Wyoming', 41.2, 104.9, 18)]

The following query selects all the data from the **Regions** table and outputs them into a table below:

In [12]:
%%sql
Select *
From Regions

Done.

[(u'Maine', u'Northeast', u'Y'),
 (u'Vermont', u'Northeast', u'N'),
 (u'New York', u'Midatlantic', u'Y'),
 (u'Pennsylvania', u'Midatlantic', u'N'),
 (u'Indiana', u'Northcentral', u'N'),
 (u'Michigan', u'Northcentral', u'N'),
 (u'Minnesota', u'Northcentral', u'N'),
 (u'Missouri', u'Northcentral', u'N'),
 (u'Kansas', u'Northcentral', u'N'),
 (u'Maryland', u'Southatlantic', u'Y'),
 (u'Virginia', u'Southatlantic', u'Y'),
 (u'North Carolina', u'Southatlantic', u'Y'),
 (u'Georgia', u'Southatlantic', u'Y'),
 (u'Kentucky', u'Southcentral', u'N'),
 (u'Alabama', u'Southcentral', u'Y'),
 (u'Arkansas', u'Southcentral', u'N'),
 (u'Oklahoma', u'Southcentral', u'N'),
 (u'Montana', u'Mountain', u'N'),
 (u'Wyoming', u'Mountain', u'N'),
 (u'New Mexico', u'Mountain', u'N'),
 (u'Utah', u'Mountain', u'N'),
 (u'Washington', u'Pacific', u'Y'),
 (u'New Hampshire', u'Northeast', u'Y'),
 (u'Massachusetts', u'Northeast', u'Y'),
 (u'Connecticut', u'Northeast', u'Y'),
 (u'New Jersey', u'Midatlantic', u'Y'),
 (u'Ohio', u'Northcentral', u'N'),
 (u'Illinois', u'Northcentral', u'N'),
 (u'Wisconsin', u'Northcentral', u'N'),
 (u'Iowa', u'Northcentral', u'N'),
 (u'North Dakota', u'Northcentral', u'N'),
 (u'Nebraska', u'Northcentral', u'N'),
 (u'Delaware', u'Southatlantic', u'Y'),
 (u'DC', u'Southatlantic', u'Y'),
 (u'South Carolina', u'Southatlantic', u'Y'),
 (u'Florida', u'Southatlantic', u'Y'),
 (u'Tennessee', u'Southcentral', u'N'),
 (u'Louisiana', u'Southcentral', u'Y'),
 (u'Texas', u'Southcentral', u'Y'),
 (u'Idaho', u'Mountain', u'N'),
 (u'Colorado', u'Mountain', u'N'),
 (u'Arizona', u'Mountain', u'N'),
 (u'Oregon', u'Pacific', u'Y')]

### Basic Select statement
Select columns  
From tables  
Where condition

*Find all coastal states; return state*

In [23]:
%%sql
Select state
From Regions
Where coastal='Y'

(sqlite3.OperationalError) no such table: Regions [SQL: u"Select state\nFrom Regions\nWhere coastal='Y'"]

*Find all cities with temp between 20 and 30; return city, state, and temp*

In [13]:
%%sql
Select city, state, temp
From CityTemps
Where temp >= 20 And temp <= 30

(sqlite3.OperationalError) no such table: CityTemps [SQL: u'Select city, state, temp\nFrom CityTemps\nWhere temp >= 20 And temp <= 30']

### Ordering

*Modify previous query to sort by state, then temp, then city reversed*

In [13]:
%%sql
Select city, state, temp
From CityTemps
Where temp >= 20 And temp <= 30
order by state, temp, city desc

Done.

[(u'New Haven', u'Connecticut', 24),
 (u'Wilmington', u'Delaware', 28),
 (u'Boise', u'Idaho', 26),
 (u'Chicago', u'Illinois', 23),
 (u'Indianapolis', u'Indiana', 25),
 (u'Wichita', u'Kansas', 26),
 (u'Baltimore', u'Maryland', 27),
 (u'Boston', u'Massachusetts', 25),
 (u'Detroit', u'Michigan', 25),
 (u'St. Louis', u'Missouri', 28),
 (u'Atlantic City', u'New Jersey', 29),
 (u'Albuquerque', u'New Mexico', 28),
 (u'New York', u'New York', 29),
 (u'Cleveland', u'Ohio', 25),
 (u'Cincinnati', u'Ohio', 30),
 (u'Philadelphia', u'Pennsylvania', 28),
 (u'Harrisburg', u'Pennsylvania', 28),
 (u'Amarillo', u'Texas', 26),
 (u'Salt Lake City', u'Utah', 22),
 (u'Spokane', u'Washington', 21)]

*Modify previous query to sort by temperature, ascending then descending*

In [24]:
%%sql
Select temp
From CityTemps
Order by temp

Done.

[(4,),
 (6,),
 (11,),
 (12,),
 (13,),
 (13,),
 (14,),
 (15,),
 (16,),
 (17,),
 (17,),
 (18,),
 (19,),
 (21,),
 (22,),
 (23,),
 (24,),
 (25,),
 (25,),
 (25,),
 (25,),
 (26,),
 (26,),
 (26,),
 (27,),
 (28,),
 (28,),
 (28,),
 (28,),
 (28,),
 (29,),
 (29,),
 (30,),
 (31,),
 (32,),
 (32,),
 (33,),
 (34,),
 (35,),
 (35,),
 (35,),
 (35,),
 (36,),
 (39,),
 (39,),
 (40,),
 (40,),
 (46,),
 (46,),
 (47,),
 (47,),
 (51,),
 (60,),
 (67,)]

### Multiple tables in From clause - Joins

*Find all cities with temp between 20 and 30 in a coastal state; return city*

In [25]:
%%sql
Select city
From Regions, Citytemps
Where temp >=20 And temp <= 30 and coastal = 'Y' And Regions.state=CityTemps.state

Done.

[(u'New York',),
 (u'Baltimore',),
 (u'Spokane',),
 (u'Boston',),
 (u'New Haven',),
 (u'Atlantic City',),
 (u'Wilmington',),
 (u'Amarillo',)]

In [26]:
%%sql
Select city 
From Regions R, Citytemps C
Where temp >= 20 and temp <= 30 and coastal = 'Y' and R.state = C.state

Done.

[(u'New York',),
 (u'Baltimore',),
 (u'Spokane',),
 (u'Boston',),
 (u'New Haven',),
 (u'Atlantic City',),
 (u'Wilmington',),
 (u'Amarillo',)]

*Find all cities in the Northeast; return city and coastal*

In [27]:
%%sql
Select city, coastal
From Regions R, CityTemps C
Where region = 'Northeast' and R.state=C.state

Done.

[(u'Portland', u'Y'),
 (u'Burlington', u'N'),
 (u'Concord', u'Y'),
 (u'Boston', u'Y'),
 (u'New Haven', u'Y')]

*Previous query but also return state and temp*

In [28]:
%%sql
Select city, coastal, C.state, temp
From Regions R, CityTemps C
Where region = 'Northeast' and R.state=C.state

Done.

[(u'Portland', u'Y', u'Maine', 14),
 (u'Burlington', u'N', u'Vermont', 11),
 (u'Concord', u'Y', u'New Hampshire', 13),
 (u'Boston', u'Y', u'Massachusetts', 25),
 (u'New Haven', u'Y', u'Connecticut', 24)]

### Select *

*Previous query but return all attributes*

In [29]:
%%sql
Select * 
From Regions R, CityTemps C
Where region = 'Northeast' and R.state=C.state

Done.

[(u'Maine', u'Northeast', u'Y', u'Portland', u'Maine', 44.2, 70.5, 14),
 (u'Vermont', u'Northeast', u'N', u'Burlington', u'Vermont', 45.0, 73.9, 11),
 (u'New Hampshire', u'Northeast', u'Y', u'Concord', u'New Hampshire', 43.5, 71.9, 13),
 (u'Massachusetts', u'Northeast', u'Y', u'Boston', u'Massachusetts', 42.7, 71.4, 25),
 (u'Connecticut', u'Northeast', u'Y', u'New Haven', u'Connecticut', 41.7, 73.4, 24)]

*Second query (all citites with temp between 20 and 30) but return all attributes*

In [ ]:
%%sql
Select * 
From Regions R, CityTemps C
Where region = 'Northeast' and R.state=C.state And temp >= 20 And temp <= 30

### Aggregation and Grouping

*Find average temp for all cities*

In [30]:
%%sql
Select avg(temp)
From CityTemps

Done.

[(28.85185185185185,)]

*Modify previous query to find average temp of cities with latitude under 35*

In [14]:
%%sql
Select avg(temp)
From CityTemps
Where lat < 35

(sqlite3.OperationalError) no such table: CityTemps [SQL: u'Select avg(temp)\nFrom CityTemps\nWhere lat < 35']

*Modify previous query to also find minimum and maximum temp of cities with latitude under 35*

In [35]:
%%sql
Select max(temp) 
From CityTemps
Where lat < 35

Done.

[(1,)]

*Modify previous query to find number of cities with latitude under 35*

In [36]:
%%sql
Select count(*) 
From CityTemps
Where lat < 35

Done.

[(11,)]

*Rename result column to 'toasty'*

*Find minimum and maximum temp of cities in the Pacific*

In [ ]:
%%sql
Select 
From 
Where

*Find average temp for each state*

In [ ]:
%%sql
Select 
From 
Where

*Modify previous query to sort by descending average temp*

*Modify previous query to find average temp for each region, sorted by descending average temp*

*Modify previous query to count coastal states only*

*Modify previous query to give average temp for each region/coastal combination*

### Table variables, duplicates

*Find all regions that have both coastal and non-coastal states; return region*

In [ ]:
%%sql
Select 
From 
Where

*Remove duplicates from previous result*

*Find all pairs of cities that are near each other, i.e., lat and lng are both less than 1.0 apart; return city pairs*

In [ ]:
%%sql
Select 
From 
Where

*Remove duplicate-pairs from previous result*

### Subqueries in Where clause

*Find the southernmost city*

In [ ]:
%%sql
Select 
From 
Where

*Find regions with no coastal states*

In [ ]:
%%sql
Select 
From 
Where

*Find regions that have at least one city with lat greater than 45*

In [ ]:
%%sql
Select 
From 
Where

*Same query (find regions that have at least one city with lat greater than 45) but without using subquery*

In [ ]:
%%sql
Select 
From 
Where

*Find all cities whose temp is more than twice the average*

In [ ]:
%%sql
Select 
From 
Where

### Data modification

*Raise all temperatures by 2 degrees*

In [ ]:
%sql Select avg(temp) From CityTemps

In [ ]:
%%sql
Update 
Set 
Where

In [ ]:
%sql Select avg(temp) From CityTemps

*Add additional 2 degrees for non-coastal states*

In [ ]:
%%sql
Update 
Set 
Where

In [ ]:
%sql Select avg(temp) From CityTemps

*Delete all cities in California*

In [ ]:
%%sql
Delete From 
Where

*Delete all states from the Regions table that have no cities in CityTemps*

In [ ]:
%%sql
Delete From 
Where

## Advanced: Having clause

*Find all states with at least three cities*

In [ ]:
%%sql
Select 
From 
Where

*Same query but without Having clause*

In [ ]:
%%sql
Select 
From 
Where

*Find all states with minimum temperature below 10*

In [ ]:
%%sql
Select 
From 
Where

*Same query without Group By / Having*

In [ ]:
%%sql
Select 
From 
Where

## Advanced: Subqueries in From and Select clauses

*Find all regions that have both coastal and non-coastal states; return region and number of coastal and non-coastal states*

In [ ]:
%%sql
Select 
From 
Where

*Same query using subquery in From clause instead of Select clause*

In [ ]:
%%sql
Select 
From 
Where