CS102 SQL demo in class
--------------------------------------------

### Jupyter Notebook Keyboard Shortcuts

**1) Command Mode **(hit **Escape** key to enter Command mode)

*Blue border* indicates you are in Command mode. The following commands only work in Command mode.

* hit **D** twice- **D**elete a cell
* **B** - insert a cell at the **B**elow current cell
* **A** - insert a cell **A**bove current cell
* **C** - **C**opy a cell
* **V** - Paste copied cell
* **Z** - Undo last action
* hit **Shift + Enter** - to run a cell
* Up and Down arrow keys to navigate

**2) Edit Mode **(hit **Enter** to enter edit mode)

*Green border* indicates you are in Edit mode.

### Setup

In [1]:
%load_ext sql

ImportError: No module named sql

In [ ]:
%sql sqlite:///Weather.db

### Information on the data we'll be using in class today

We have 2 tables, **CityTemps** and **Regions**

**CityTemps** (city, state, lat, lng, temp) 

**Regions** (state, region, coastal)

The following query selects all the data from the **CityTemps** table and outputs them into a table below:

In [ ]:
%%sql
Select *
From CityTemps

The following query selects all the data from the **Regions** table and outputs them into a table below:

In [ ]:
%%sql
Select *
From Regions

### Basic Select statement
Select columns  
From tables  
Where condition

*Find all coastal states; return state*

In [ ]:
%%sql
Select *
From 
Where

*Find all cities with temp between 20 and 30; return city, state, and temp*

In [ ]:
%%sql
Select 
From 
Where

### Ordering

*Modify previous query to sort by temperature, ascending then descending*

*Modify previous query to sort by state, then temp, then city reversed*

### Multiple tables in From clause - Joins

*Find all cities with temp between 20 and 30 in a coastal state; return city*

In [ ]:
%%sql
Select 
From 
Where

*Find all cities in the Northeast; return city and coastal*

In [ ]:
%%sql
Select 
From 
Where

*Previous query but also return state and temp*

### Select *

*Previous query but return all attributes*

*Second query (all citites with temp between 20 and 30) but return all attributes*

### Aggregation and Grouping

*Find average temp for all cities*

In [ ]:
%%sql
Select 
From 
Where

*Modify previous query to find average temp of cities with latitude under 35*

*Modify previous query to also find minimum and maximum temp of cities with latitude under 35*

*Modify previous query to find number of cities with latitude under 35*

*Rename result column to 'toasty'*

*Find minimum and maximum temp of cities in the Pacific*

In [ ]:
%%sql
Select 
From 
Where

*Find average temp for each state*

In [ ]:
%%sql
Select 
From 
Where

*Modify previous query to sort by descending average temp*

*Modify previous query to find average temp for each region, sorted by descending average temp*

*Modify previous query to count coastal states only*

*Modify previous query to give average temp for each region/coastal combination*

### Table variables, duplicates

*Find all regions that have both coastal and non-coastal states; return region*

In [ ]:
%%sql
Select 
From 
Where

*Remove duplicates from previous result*

*Find all pairs of cities that are near each other, i.e., lat and lng are both less than 1.0 apart; return city pairs*

In [ ]:
%%sql
Select 
From 
Where

*Remove duplicate-pairs from previous result*

### Subqueries in Where clause

*Find the southernmost city*

In [ ]:
%%sql
Select 
From 
Where

*Find regions with no coastal states*

In [ ]:
%%sql
Select 
From 
Where

*Find regions that have at least one city with lat greater than 45*

In [ ]:
%%sql
Select 
From 
Where

*Same query (find regions that have at least one city with lat greater than 45) but without using subquery*

In [ ]:
%%sql
Select 
From 
Where

*Find all cities whose temp is more than twice the average*

In [ ]:
%%sql
Select 
From 
Where

### Data modification

*Raise all temperatures by 2 degrees*

In [ ]:
%sql Select avg(temp) From CityTemps

In [ ]:
%%sql
Update 
Set 
Where

In [ ]:
%sql Select avg(temp) From CityTemps

*Add additional 2 degrees for non-coastal states*

In [ ]:
%%sql
Update 
Set 
Where

In [ ]:
%sql Select avg(temp) From CityTemps

*Delete all cities in California*

In [ ]:
%%sql
Delete From 
Where

*Delete all states from the Regions table that have no cities in CityTemps*

In [ ]:
%%sql
Delete From 
Where

## Advanced: Having clause

*Find all states with at least three cities*

In [ ]:
%%sql
Select 
From 
Where

*Same query but without Having clause*

In [ ]:
%%sql
Select 
From 
Where

*Find all states with minimum temperature below 10*

In [ ]:
%%sql
Select 
From 
Where

*Same query without Group By / Having*

In [ ]:
%%sql
Select 
From 
Where

## Advanced: Subqueries in From and Select clauses

*Find all regions that have both coastal and non-coastal states; return region and number of coastal and non-coastal states*

In [ ]:
%%sql
Select 
From 
Where

*Same query using subquery in From clause instead of Select clause*

In [ ]:
%%sql
Select 
From 
Where